<div>
  <h2 class="font-weight-bold text-center mt-4">Add Product</h2>
  <form class="mt-4" (submit)="addProduct()">
    <div>
      <label>Title:</label>
      <input type="text" [(ngModel)]="product.title" name="title" required>
    </div>
    <div>
      <label>Description:</label>
      <textarea [(ngModel)]="product.description" name="description" required></textarea>
    </div>
    <div>
      <label>Image URL:</label>
      <input type="text" [(ngModel)]="product.imageUrl" name="imageUrl" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="product.price" name="price" required>
    </div>
    
    <button type="submit">Add Product</button>
  </form>
</div>
